body {
	width: 100%;
	margin: 0px;
	background-color: gray;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	font: 1em sans-serif;
}
button {
	background-color: #f44;
	color: #141414;
	padding: 12px 24px;
	font-weight: 600;
	font-size: 1em;
	border-radius: 6px;
	margin: 24px;
	border: none;
}
button:hover {
	box-shadow: #ffffff;
}
li:hover {
	text-decoration: underline 2px;
}
.img_header {
	width: 50px;
	height: 50px;
}
/* HEADER ______________________________________________________________________________ */

.header_pc {
	background-color: #f44;
	width: 100%;
	height: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	color: #141414;
}
.header_mobile {
	background-color: #f44;
	width: 100%;
	height: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	color: #141414;
}
.left_header {
	display: flex;
	gap: 24px;
	margin-left: 5%;
}
.right_header {
	display: flex;
	list-style-type: none;
	gap: 45px;
	margin-right: 5%;
}
/* ABOUT ME SECTION ______________________________________________________________________________ */
.about_me {
	background-color: #242424;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 800px;
	border-radius: 12px;
}
.me_img {
	height: 340px;
}
.about_me_text {
	width: 540px;
}

/* SKILLS ______________________________________________________________________________ */
.my_skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.skills {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.skills_card {
	background-color: #242424;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 12px;
	padding: 24px;
	margin-right: 80px;
	margin-bottom: 0px;
}
.skills_card_text {
	width: 360px;
}
/* MY WORK ______________________________________________________________________________ */
.my_work {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.work_cards_carousel {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.work_card {
	background-color: #242424;
	color: #fff;
	display: flex;
	align-items: center;
	border-radius: 12px;
	padding: 24px;
}
.work_card_right {
	display: flex;
	flex-direction: column;
	margin-left: 0px;
}
.work_card_text {
	width: 520px;
}
.work_img {
	width: 120px;
	background-color: #fff;
	padding: 28px 52px;
	border-radius: 6px;
	margin-right: 24px;
}
.button_project {
	width: 520px;
	margin-left: 0px;
}
.project_title {width: 520px;}
/* FOOTER ______________________________________________________________________________ */
.footer {
	background-color: #f44;
	width: 100%;
	height: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	color: #141414;
	left: 0;
	bottom: 0;
}
.footer_ul {
	display: flex;
	list-style-type: none;
	gap: 45px;
	margin-left: 5%;
}
@media screen and (min-width: 600px) {
	.header_mobile {
		display: none;
	}
}